<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="XMLConfig">
  <Properties>
    <Property name="filename">target/test.log</Property>
  </Properties>

  <Appenders>
    <Appender type="Console" name="STDOUT">
      <Layout type="PatternLayout">
        <Pattern>%d %p %C [%t] %m%n</Pattern>
      </Layout>
    </Appender>
    <Appender type="File" name="File" fileName="logs/alerter.log">
      <Layout type="PatternLayout">
        <Pattern>%d %p %C [%t] %m%n</Pattern>
      </Layout>
    </Appender>
  </Appenders>

  <Loggers>
    <Logger name="sciuto.corey.alerter" level="debug" additivity="false">
      <AppenderRef ref="STDOUT" />
      <AppenderRef ref="File" />
    </Logger>

    <Root level="debug">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="File"/>
    </Root>

  </Loggers>

</Configuration>